.none {
  display: none;
}

.logo-wrapper {
  transition: 0.2s;
}

.logo-wrapper-collapsed {
  padding: 2rem;
  transition: 0.2s;
}

.username {
  font-size: 1rem;
  font-weight: 400;
  color: var(--base);
  margin: 1rem 0 0.5rem;
}

.role {
  font-size: 1rem;
  font-weight: 400;
  color: var(--muted);
  margin: 0;
}

.ant-layout-sider {
  min-width: 350px !important;
  background-color: var(--primary);
}

.ant-layout-sider.ant-layout-sider-collapsed {
  min-width: 80px !important;
}

.ant-menu-item {
  font-weight: 300;
  color: var(--base);
  margin: 0 !important;
  padding: 1.5rem 2rem !important;
  background-color: var(--primary);
}

.ant-menu-item.ant-menu-item-selected {
  color: var(--base) !important;
  background-color: var(--secondary) !important;
}

.menu-item-dropdown {
  padding: 0 2rem;
  color: var(--base);
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-collapse-item {
  background-color: var(--primary);
}

.ant-collapse-header-text,
.ant-collapse-content-box p {
  color: var(--base);
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-left: 0;
  margin-left: 10px;
}

.header {
  background-color: var(--base);
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trigger {
  color: var(--base);
  background-color: var(--primary);
  /* border-radius: 3px; */
  margin-right: 1.5rem;
  transition: 0.2s;
  /* height: 30px; */
  /* width: 40px; */
  /* padding: 0.3rem; */

  line-height: 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.trigger svg {
  font-size: 1.5rem;
}

.trigger:hover {
  color: var(--primary);
  background-color: var(--base);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  cursor: pointer;
}

.title {
  /* margin: 0; */
  /* color: var(--primary); */

  display: flex;
}

.title h1 {
  margin: 0;
  color: var(--primary);
}

.title h1:first-child {
  margin-right: 0.3em;
}

.logout-btn {
  background-color: var(--base);
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  align-self: center;
}

.logout-btn:hover {
  color: #000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .logout-btn h2 {
    display: none;
  }
}
