thead[class*='ant-table-thead'] th {
  color: var(--base);
  background-color: var(--primary);
}

.ant-table-content tr:nth-child(odd) td {
  background-color: rgba(0, 0, 0, 0.06);
}

.edit-btn {
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.edit-btn:hover {
  color: var(--base);
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.delete-btn {
  color: var(--base);
  background-color: var(--delete);
  border: 1px solid var(--delete);
  padding: 0 2rem;
  border-radius: 5px;
}

.delete-btn:hover {
  color: var(--base);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
